body {

    background: #111827;

    color: white;

    font-family: Arial;

}

.settings-container {

    text-align: center;

    padding: 50px;

}

button {

    padding: 15px;

    margin: 15px;

    border: none;

    border-radius: 10px;

    cursor: pointer;

}